<h1><%= @place["name"] %></h1>

<ul><% for entry in @entries%>
<li><%= entry["title"]%> <%= entry["occurred_on"]%>
</li>
<% end %>
</ul>

<p><%= link_to "New Entry", new_place_entry_path(@place) %></p>

<p><a href = "/places">Back to Places</p>
