<h1>New Entry for <%= @place["name" ]%></h1>

<form action = "/places/<%= @place.id %>/entries" method = "post">
  <p>
    <label for = "title">Title</label>
    <input type = "text" name="title" id="title">
    <br>
    <br>
    <label for = "description">Description</label>
    <input type = "text" name="description" id="description">
    <br>
    <br>
    <label for = "occurred_on">Occured On </label>
    <input type = "text" name="occurred_on" id="occured_on">
    <br>
  </p>
  <button>Submit</button>
</form>

<p><a href = "/places">Back</a></p>