<h1><%= @place["name"] %></h1>

<ul><% for entry in @entries%>
<li>
<%= entry["title"]%> <br> 
<%= entry["description"] %> <br>
<%= entry["occurred_on"]%>
</li>
<% end %>
</ul>

<p><a href = "/places">Back to Places</p>